.button {
  font: inherit;
  border: 1px solid #4f005f;
  border-radius: 4px;
  background: #4f005f;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #741188;
  border-color: #741188;
}

.button:focus {
  outline: none;
}

@media (min-width: 768px) {
  .button {
    width: auto;
    margin: auto;
  }
}
