.input {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

.input label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}

.input input:focus {
  outline: none;
  border-color: #4f005f;
}

.invalid {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

.invalid label {
  display: block;
  color: rgba(236, 54, 54, 0.747);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.invalid input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid rgba(236, 54, 54, 0.747);
  background-color: rgba(236, 54, 54, 0.747);
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}

.invalid input:focus {
  outline: none;
  border-color: rgba(236, 54, 54, 0.747);
}
